<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
        <h4>You dont need a silver fork to eat good food</h4>
    </div>
    {{{body}}}
    <div class="footer">
        <p>Project by Mona Shah and Sri Kruthi</p>
    </div>
  </body>
</html>