<br /><br />
<form method="POST" action="/restaurants/search">
  <br />Page:
  <input type="number" name="page" />
  <br />
  <br />
  PerPage:
  <input type="number" name="perPage" />
  <br />
  <br />
  Borough:
  <input type="text" name="borough" />
  <br />
  <br />
  <input type="submit" />
  <br/>
  <br/>
  <br/>
</form>